<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="https://123milhas.com/img/logo123.svg" alt="" height="45">
        </a>
    </div>
</nav>

<body>
    <div class="content">
        <div class="row">
            <form [formGroup]="form2">
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label>Destino</label>
                            <input class="form-control" type="text" placeholder="" formControlName="textInput">
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label>Mês</label>
                            <select class="form-select" formControlName="month" placeholder="Escolher">
                                <option selected>Escolher</option>
                                <option *ngFor="let month of months" value= {{month.id}}>{{month.month}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label>Ano</label>
                            <input class="form-control" type="text" placeholder="" formControlName="year">
                        </div>
                    </div>
                    <div class="col-sm d-flex align-items-end">
                        <button class="btn btn-danger" (click)="getPackages()">Buscar</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <div *ngFor="let package of finalPackages">
                <div class="col-sm">
                    <div class="card text-white float-left">
                        <img src={{package.imageUrl}} class="card-img" height="100%">
                        <div class=" d-flex align-items-end " style="height: 100%; ">
                          <div class="card-img-overlay d-flex align-items-end " >
                            <div class="col-sm-6">
                                <h5 class="card-title">{{package.city}}</h5>
                                <p class="card-text" style="font-weight: bold; ">R${{package.bestPackagePrice}}</p>
                            </div>
                            <div class="col-sm">
                                <p class="card-text small d-flex justify-content-end">ida</p>
                                <p class="card-text small d-flex justify-content-end">{{package.bestFlight ? (package.bestFlight.outboundDate | date:'dd/MM/yyyy') : "-"}}</p>
                            </div>
                            <div class="col-sm">
                                <p class="card-text small d-flex justify-content-end">volta</p>
                                <p class="card-text small d-flex justify-content-end">{{package.bestFlight ? (package.bestFlight.inboundDate | date:'dd/MM/yyyy') : "-"}}</p>
                            </div>
                        </div>  
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>